
*{
     margin: 0;
     padding: 0;
     list-style: none;
     box-sizing: border-box;
     font-family: "Poppins", sans-serif;
}

body {
     max-width: 1920px;
     margin: auto;
}

header{
     width: 100%;
     position: fixed;
     top: 0;
     left: 0;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 5%;
     height: 75px;
     transition: 0.3s;
     z-index: 10;
}

header.down{
     background-color: rgba(35, 35, 35, 0.90);
     box-shadow: 0px 0px 16px #434343;
}

a:link,
a:visited,
a:focus,
a:hover,
a:active {
     text-decoration: none;
     color: unset;
}

.logo{
     height: 40px;
}

#menu {
     display: none;
}

.menu{
     padding: 30px;
     margin: 0;
     position: absolute;
     top: 100%;
     left: 0;
     right: 0;
     background-color: rgb(49 49 49 / 88%);
     display: none;
}

.item{
     margin: 0 15px;
     font-size: 18px;
     font-weight: 300;
     cursor: pointer;
     color: #ffffff;
     margin: 0 0 18px 0;
     width: 100%;
}

.item:hover{
     color: orangered;
}

.menu-icon{
     width: 25px;
}

label{
     display: initial;
}

.active{
     display: initial;
}

/* #menu:checked ~ .menu{
     display: initial;
} */



/* --------------------------------------------------------------------- */

#banner{
     background-image: url(./images/people-working.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     width: 100%;
     height: 600px;
     background-position: 35%;
}

.banner{
     margin-top: 270px;
     margin-left: 10%;
     display: inline-flex;
     width: 250px;

}

.banner_text{
     color: #fff;
     font-size: 17px;
}

.banner_text span{
     color: #00cccc;
     font-size: 19px;
     font-weight: bold;
}


/* --------------------------------------------------------------------- */

#we_are {
     display: inline-block;
     position: relative;
     height: 600px;
}

#we_are h2{
     margin: 10px auto;
     width: 100px;
     color: #003366;
     font-weight: bold;
}

#we_are .container_up{
     width: 100%;
     justify-content: center;
     display: flex;
     position: relative;
     top: 2%;
}

#we_are .container_up p{
     font-size: 0.8rem;
     color: #616161;
     padding: 5px;
     text-align: center;

}

#we_are .container_up img{
     width: 12px;
     align-self: flex-start;
}

#we_are .container_up .logo{
     width: 260px;
     height: 260px;
     position: absolute;
     top: 20%;
     z-index: -1;
     opacity: 0.2;
}

#we_are .container_down img{
     width: 100%;
     bottom: 0;
     position: absolute;
     z-index: -1;
}

.we_are_text{
     top: 10%;
     width: 82%;
     display: inline-flex;
}

.quote2{
     transform: rotate(180deg);
}

/* --------------------------------------------------------------------- */

#mission_vision{
     border-top: 10px solid #065fb9;
     border-bottom: 10px solid #ff8000;
}

#mission{
     background-image: url(./images/mision_vision.png);
     background-size: 595px;
     background-position-x: 30px;
     background-position-y: -40px;
     background-repeat: no-repeat;
     width: 270px;
     height: 200px;
     margin: auto;
}

#vision{
     background-image: url(./images/mision_vision.png);
     background-size: 595px;
     background-position-x: right;
     background-position-y: -100px;
     background-repeat: no-repeat;
     width: 325px;
     height: 180px;
     margin: auto;
}

/* --------------------------------------------------------------------- */

#nuestra_filosofia{
     height: 270px;
     padding-top: 35px;
     border-bottom: 10px solid #59c3db;
}

#nuestra_filosofia div{
     background-image: url(./images/nuestra_filosofia.png);
     background-size: 350px;
     background-position-x: -10px;
     background-repeat: no-repeat;
     width: 100%;
     height: 195px;
     padding: 70px 20px 0px 20px;
}

/* --------------------------------------------------------------------- */

#video{
     display: flex;
}


/* --------------------------------------------------------------------- */

#services{
     background-color: #ffffff;
     height: 550px;
}

#services h2{
     margin: 10px auto;
     width: 120px;
     color: #003366;
     font-weight: bold;
}

.service_container{
     width: 90%;
     height: 90%;
     margin: auto;
     display: flex;
     flex-wrap: wrap;
     column-gap: 10px;
}

.service{
     width: 48%;
     display: grid;
     justify-content: center;
     float: left;
     margin: 0 auto;
}

.service img{
     width: 90px;
     align-self: center;
     margin: auto;
}

.service p{
     text-align: center;
     color: #003366;
     font-size: 0.8rem;
}

/* --------------------------------------------------------------------- */

#porque_confiar{
     background-image: url(./images/porque_confiar.png);
     background-size: 435px;
     background-position-x: -100px;
     background-repeat: no-repeat;
     width: 100%;
     height: 244px;
}

/* --------------------------------------------------------------------- */

#contact_us{
     width: 100%;
     height: 470px;
     background-color: #eae9e9;
     padding: 20px 6px;
     border-top: 1px solid #d9d9d9;
}


#contact_us h2{
     margin: 10px auto;
     width: 176px;
     color: orangered;
     font-weight: bold;
}

#contact_us h4{
     margin: auto;
     width: 88px;
     color: #0033cc;
     font-weight: bold;
     margin-top: 10px;
}

#contact_us form{
     width: 86%;
     height: 400px;
     margin: auto;
     margin-top: 10px;
}

.form_inputs{
     height: 155px;
}

#contact_us input{
     font-size: 0.7rem;
     padding-left: 10px;
     border-style: double;
     border-color: #cdcdcd;
     border-radius: 3px;
     width: 100%;
     height: 27px;
}

#contact_us .button{
     background-color: #0033cc;
     color: #fff;
     height: 34px;
     border-radius: 6px;
}

#contact_us .button:hover{
     background-color: #012695;
}

#contact_us .privacy_info{
     color: #949494;
     font-size: 0.7rem;
}

#contact_us p{
     color: #0033cc;
     display: flex;
     width: 100%;
     text-align: center;
     margin: auto;
     font-size: 0.8rem;
}



/* --------------------------------------------------------------------- */
footer{
     width: 100%;
     height: 210px;
     background-color: #ffffff;
     color: #616161;font-size: 0.6rem;
     padding: 25px 15px;
     border-top: 1px solid #bdbdbd;
}

.footer_container{
     display: grid;
     grid-template-columns: 30% 70%;
     gap: 20px;

}

.footer_section{
     text-align: left;
     width: 100%;
     margin: auto;
}

.footer_section div{
     margin-top: 5px;
}

.footer_section p {
     font-size: 0.8rem;
     color: #00cccc;
}

.footer_social{
     grid-column-start: 1;
     grid-column-end: 3;
     display: grid;
     grid-template-columns: repeat(4, 22%);
}

.footer_social a{
     margin: auto;
}

.footer_social img{
     width: 20px;
}

.end_of_line{
     margin: auto;
     width: 100%;
     justify-content: center;
     display: flex;
     margin-top: 15px;
     font-style: italic;
     color: cadetblue;
}






/* --------------------------------------------------------------------- */
@media screen and (min-width:420px){
}


/* --------------------------------------------------------------------- */
@media screen and (min-width:610px){
     #banner{
          height: 450px;
          background-position: 20%;
     }

     .banner{
          margin-top: 240px;
          width: 330px;
     }

     .banner_text{
          font-size: 22px;
     }
     
     .banner_text span{
          font-size: 26px;
     }
}

/* --------------------------------------------------------------------- */
@media screen and (min-width:900px){

     header{
          height: 90px;
     }

     label{
          cursor: pointer;
          display: none;
     }

     .menu{
          display: flex;
          position: initial;
          background-color: transparent;
     }

     .item{
          margin: 0px 25px;
     }

     #banner{
          height: 800px;
          background-position: 20%;
     }

     .banner{
          margin-top: 375px;
          width: 608px;
     }

     .banner_text{
          font-size: 30px;
     }
     
     .banner_text span{
          font-size: 38px;
     }

     /* --------------------------------------------------------------------- */
     #we_are{
          width: 100%;
          height: 500px;
          background-color: #ffffff;
     }
     
     #we_are h2{
          height: 45px;
          margin-top: 20px;
          font-size: 30px;
     }
     
     #we_are .container_left{
          background-image: url(./images/icon_color.png);
          background-repeat: no-repeat;
          background-size: 450px;
          width: 50%;
          height: 100%;
          background-position-x: center;
          background-position-y: 100px;
          float: left;
     }
     
     #we_are .container_left img{
          width: 600px;
          margin-left: 330px;
     }
     
     #we_are .container_right{
          width: 40%;
          float: right;
          margin-top: 155px;
     }
     
    

}

/* --------------------------------------------------------------------- */
@media (min-width:1132px) {
     header{
          height: 90px;
     }

     .logo{
          height: 70px;
     }

     .item{
          font-size: 22px;
     }
}













