
* {
     margin: 0;
     padding: 0;
     font-family: "Poppins", sans-serif;
}

body{
     max-width: 1902px;
     margin: auto;
}

header{
     width: 100%;
     max-width: 1902px;
     height: 120px;
     margin: auto;
     display: flex;
     align-items: center;
     z-index: 10;
     position: fixed;
     transition: 0.4s;
}

.header_logo{
     margin-left: 30px;
     width: 210px;
     height: 100%;
     background-image: url(./images/Main_white@3x.png);
     background-repeat: no-repeat;
     background-size: contain;
     margin-top: 66px;
     transition: 0.6s;
}

.menu{
     display: flex;
     list-style: none;
     margin: auto;
     color: #ffffff;
     font-size: larger;
     transition: 0.4s;
}

.menu a{
     text-decoration: none;
}

.menu li{
     margin-left: 50px;
}

.menu li:hover{
     cursor: pointer;
     color: orangered;
}

a:link,
a:visited,
a:focus,
a:hover,
a:active {
     text-decoration: none;
     color: unset;
}

.arrow{
     width: 10px;
     margin-left: 5px;
     margin-top: 5px;
     transform: rotate(90deg);
     background-image: url(./svg/arrow_white.svg);
     background-repeat: no-repeat;
     background-size: contain;
     transition: 0.6s;
}

.social_media{
     width: 320px;
     display: flex;
     transition: 0.4s;
}

.social_media a{
     margin: 0px 15px;
}

.facebook{
     width: 25px;
     height: 25px;
     margin-left: 20px;
     background-image: url(./svg/facebook_white.svg);
     background-repeat: no-repeat;
     background-size: contain;
     transition: 0.4s;
}

.instagram{
     width: 25px;
     height: 25px;
     margin-left: 20px;
     background-image: url(./svg/instagram_white.svg);
     background-repeat: no-repeat;
     background-size: contain;
     transition: 0.4s;
}

.tik-tok{
     width: 25px;
     height: 25px;
     margin-left: 20px;
     background-image: url(./svg/tik-tok_white.svg);
     background-repeat: no-repeat;
     background-size: contain;
     transition: 0.4s;
}

.linkedin{
     width: 25px;
     height: 25px;
     margin-left: 20px;
     background-image: url(./svg/linkedin_white.svg);
     background-repeat: no-repeat;
     background-size: contain;
     transition: 0.4s;
}

header.down{
     background-color: #ffffff;
     box-shadow: 0px 0px 16px #dddcdc;
     height: 75px;
}

header.down .menu{
     color: #616161;
}

header.down .header_logo{
     background-image: url(./images/Main_color@3x.png);
     transition: 0.4s;
     margin-top: 35px;
     width: 180px;
}

header.down .arrow{
     background-image: url(./svg/arrow.svg);
}

header.down .social_media{
     width: 300px;
}

header.down .facebook{
     background-image: url(./svg/facebook.svg);
}

header.down .instagram{
     background-image: url(./svg/instagram.svg);
}

header.down .tik-tok{
     background-image: url(./svg/tik-tok.svg);
}

header.down .linkedin{
     background-image: url(./svg/linkedin.svg);
}

/* --------------------------------------------------------------------- */

#banner{
     background-image: url("./images/people-working.jpg");;
     background-size: cover;
     width: 100%;
     height: 1000px;
}

.container{
     margin-top: 530px;
     margin-left: 200px;
     display: inline-flex;
     width: 760px;
}

.banner_text{
     color: #fff;
     font-size: 38px;
}

.banner_text span{
     color: #00cccc;
     font-size: 38px;
     font-weight: bold;
}

/* --------------------------------------------------------------------- */

#we_are{
     width: 100%;
     height: 600px;
     background-color: #ffffff;
}

#we_are h2{
     transform: rotate;
     transform: rotate(270deg);
     height: 50px;
     width: 110px;
     margin-top: 325px;
     align-items: center;
     display: flex;
     position: absolute;
     font-size: 60px;
     color: #003366;
     font-weight: normal;
}

#we_are .container_left{
     background-image: url(./images/Icon_Color@3x.png);
     background-repeat: no-repeat;
     background-size: 450px;
     width: 50%;
     height: 100%;
     background-position-x: center;
     background-position-y: 100px;
     float: left;
}
#we_are .container_left img{
     width: 600px;
     margin-left: 330px;
}

#we_are .container_right{
     width: 40%;
     float: right;
     margin-top: 155px;
}

.we_are_text{
     width: 500px;
     display: inline-flex;
}

.we_are_text p{
     color: #616161;
     text-align: justify;
     font-size: 18px;
}

.quote1{
     width: 70px;
     height: 70px;
     margin-right: 15px;
}

.quote2{
     width: 70px;
     height: 70px;
     transform: rotate(180deg);
     margin-left: 548px;
}

/* --------------------------------------------------------------------- */

#mission_vision{
     width: 100%;
     height: 400px;
     background-color: rgb(228, 228, 228);
}

#mission_vision .container_left{
     width: 450px;
     padding: 110px;
     float: left;
     margin-left: 200px;
}

#mission_vision .container_right{
     width: 450px;
     padding: 110px;
     float: right;
     margin-right: 200px;
}

#mission_vision h3{
     font-size: 40px;
     font-weight: lighter;
     color: #003366;
}

#mission_vision hr{
     border: none;
     height: 1px;
     background-color: #b0b0b0;
     margin-top: 15px;
     margin-bottom: 15px;
}

#mission_vision p{
     color: #003366;
}

/* --------------------------------------------------------------------- */

#services{
     background-color: #ffffff;
     height: 520px;
}

#services h2{
     transform: rotate;
     transform: rotate(270deg);
     height: 50px;
     width: 110px;
     margin-top: 330px;
     align-items: center;
     display: flex;
     position: absolute;
     font-size: 60px;
     color: #003366;
     font-weight: normal;
}

.service_container{
     width: 1260px;
     height: 90%;
     margin: auto;
     display: flex;
     align-items: center;
     justify-content: center;
}

.service{
     margin: 0px 40px;
     width: 215px;
}

#services img{
     width: 175px;
     margin: 40px auto;
     margin-left: 15px;
}

.service p{
     text-align: center;
     color: #003366;
     font-size: 19px;
}

/* --------------------------------------------------------------------- */

#info{
     width: 100%;
     height: 750px;
     background-color: #eae9e9;
     display: flex;
}

#info .text_container{
     width: 40%;
     padding: 150px 0px 0px 95px;
     margin-right: 80px;
}
.images_content{
     display: flex;
     padding: 0px;
     margin: 0px;
     width: 735px;
}

.images{
     width: 50%;
     padding: 0px;
     align-content: center;
     margin: 0;
}

#info p{
     color: #616161;
     font-size: 19px;
     text-align: justify;
     margin-top: 30px;
}

.img1{
     width: 230;
     border-radius: 25px 0px 0px;
}

.img2{
     width: 230;
     border-radius: 0px 25px 0px 0px;
}

.img3{
     width: 230;
     border-radius: 0px 0px 0px 25px;
}

.img4{
     width: 230;
     border-radius: 0px 0px 25px;
}

/* --------------------------------------------------------------------- */

#video video{
     width: 100%;
     height: 800px;
}

/* --------------------------------------------------------------------- */

#team{
     width: 100%;
     height: 600px;
     background-color: #ffffff;
}

#team h2{
     transform: rotate;
     transform: rotate(270deg);
     height: 50px;
     width: 110px;
     margin-top: 330px;
     align-items: center;
     display: flex;
     position: absolute;
     font-size: 60px;
     color: #003366;
     font-weight: normal;
}

.team_container{
     width: 80%;
     height: 500px;
     margin: auto;
     display: flex;
     justify-content: center;
     align-items: center;
}

.circle{
     background-color: #003366;
     width: 200px;
     height: 200px;
     border-radius: 50%;
     margin-bottom: 30px;
}

.member{
     text-align: center;
     height: 300px;
     margin: 125px 100px 0px 100px;
}

.member img{
     position: absolute;
     border-radius: 0px 0px 110px 110px;
     display: inline;
     margin-left: -104px;
     margin-top: -92px;
}

.member h3, h4{
     font-weight: normal;
     color: #003366;
}



/* --------------------------------------------------------------------- */

#contact_us{
     width: 100%;
     height: 600px;
     background-color: #eae9e9;
}

#contact_us h2{
     transform: rotate;
     transform: rotate(270deg);
     height: 50px;
     width: 110px;
     margin-top: 445px;
     align-items: center;
     display: flex;
     position: absolute;
     font-size: 60px;
     color: orangered;
     font-weight: normal;
}

#contact_us form{
     width: 55%;
     height: 400px;
     margin: auto;
}

#contact_us .data{
     height: 30px;
     padding-left: 10px;
     border-style: double;
     margin-top: 7px;
}

#contact_us textarea{
     padding-left: 10px;
     border-style: double;
     margin-top: 10px;
}

.form_left{
     width: 50%;
     height: 100%;
     float: left;
     align-content: center;
     justify-content: center;
     display: grid;
}

.form_right{
     width: 50%;
     height: 100%;
     float: right;
     align-content: center;
     justify-content: center;
     display: grid;
}

label{
     font-size: 19px;
     color: #0033cc;
}

#contact_us p{
     color: #0033cc;
     display: flex;
     width: 740px;
     text-align: center;
     margin: auto;
}

.button{
     width: 325px;
     background-color: #0033cc;
     color: #fff;
     height: 38px;
     padding: 0px;
     border: none;
     margin: auto;
     margin-top: 40px;
     display: block;
}

.button:hover{
     background-color: #00cccc;
}


/* --------------------------------------------------------------------- */

footer{
     width: 100%;
     height: 360px;
     background-color: #ffffff;
     display: flex;
     justify-content: center;
     color: #616161;
}

.footer_container{
     display: flex;
     justify-content: center;
     margin-top: 80px;
     height: 226px;
     width: 85%;
}

.footer_section {
     width: 30%;
}

.footer_section p{
     font-size: 20px;
     color: #00cccc;
     margin-top: 10px;
}

.second_text{
     margin-left: 90px;
}

footer ul{
     list-style-type: none;
     width: 145px;
}

footer li:hover{
     color: orangered;
     cursor: pointer;
}

footer h3{
     margin-bottom: 18px;
}

footer span{
     display: contents;
     margin-top: 8px;
}

footer img {
     width: 10px;
     margin-top: 8px;
     background-image: url(./svg/arrow.svg);
     float: left;
     margin-right: 20px;
}

footer .end{
     height: 58px;
     width: 400px;
     margin-top: 10px;
}

footer hr{
     border: none;
     height: 1px;
     background-color: #b0b0b0;
     margin-top: 15px;
     margin-bottom: 15px;
}

.footer_social{
     margin-top: 38px;
     display: flex;
}

.footer_social a{
     margin: 0px 18px 0px 0px;
}

.footer_social .facebook{
     width: 25px;
     height: 25px;
     margin-left: 0px;
     background-image: url(./svg/facebook.svg);
}

.footer_social .instagram{
     width: 25px;
     height: 25px;
     background-image: url(./svg/instagram.svg);
}

.footer_social .tik-tok{
     width: 25px;
     height: 25px;
     background-image: url(./svg/tik-tok.svg);
}

.footer_social .linkedin{
     width: 25px;
     height: 25px;
     background-image: url(./svg/linkedin.svg);
}